AstonTech.Lottery.Web/Service References/ServiceLotteryLookup/LotteryLookupService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LotteryLookupService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61094/LotteryLookupService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61094/LotteryLookupService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61094/LotteryLookupService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AstonTech.Lottery.Services.DataContracts" />
      <xsd:import schemaLocation="http://localhost:61094/LotteryLookupService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AstonTech.Lottery.Services.Faults" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILotteryLookupService_GetLotteryGameCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteryGameCollection" />
  </wsdl:message>
  <wsdl:message name="ILotteryLookupService_GetLotteryGameCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteryGameCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryLookupService_GetLotteryGame_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteryGame" />
  </wsdl:message>
  <wsdl:message name="ILotteryLookupService_GetLotteryGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteryGameResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryLookupService_DeleteLotteryGame_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLotteryGame" />
  </wsdl:message>
  <wsdl:message name="ILotteryLookupService_DeleteLotteryGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLotteryGameResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryLookupService_DeleteLotteryGame_LotteryLookupServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/AstonTech.Lottery.Services.Faults" name="detail" element="q1:LotteryLookupServiceFault" />
  </wsdl:message>
  <wsdl:message name="ILotteryLookupService_SaveLotteryGame_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveLotteryGame" />
  </wsdl:message>
  <wsdl:message name="ILotteryLookupService_SaveLotteryGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveLotteryGameResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryLookupService_SaveLotteryGame_LotteryLookupServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/AstonTech.Lottery.Services.Faults" name="detail" element="q2:LotteryLookupServiceFault" />
  </wsdl:message>
  <wsdl:portType name="ILotteryLookupService">
    <wsdl:operation name="GetLotteryGameCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryLookupService/GetLotteryGameCollection" message="tns:ILotteryLookupService_GetLotteryGameCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryLookupService/GetLotteryGameCollectionResponse" message="tns:ILotteryLookupService_GetLotteryGameCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLotteryGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryLookupService/GetLotteryGame" message="tns:ILotteryLookupService_GetLotteryGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryLookupService/GetLotteryGameResponse" message="tns:ILotteryLookupService_GetLotteryGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLotteryGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryLookupService/DeleteLotteryGame" message="tns:ILotteryLookupService_DeleteLotteryGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryLookupService/DeleteLotteryGameResponse" message="tns:ILotteryLookupService_DeleteLotteryGame_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILotteryLookupService/DeleteLotteryGameLotteryLookupServiceFaultFault" name="LotteryLookupServiceFaultFault" message="tns:ILotteryLookupService_DeleteLotteryGame_LotteryLookupServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveLotteryGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryLookupService/SaveLotteryGame" message="tns:ILotteryLookupService_SaveLotteryGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryLookupService/SaveLotteryGameResponse" message="tns:ILotteryLookupService_SaveLotteryGame_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILotteryLookupService/SaveLotteryGameLotteryLookupServiceFaultFault" name="LotteryLookupServiceFaultFault" message="tns:ILotteryLookupService_SaveLotteryGame_LotteryLookupServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILotteryLookupService" type="tns:ILotteryLookupService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLotteryGameCollection">
      <soap:operation soapAction="http://tempuri.org/ILotteryLookupService/GetLotteryGameCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLotteryGame">
      <soap:operation soapAction="http://tempuri.org/ILotteryLookupService/GetLotteryGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLotteryGame">
      <soap:operation soapAction="http://tempuri.org/ILotteryLookupService/DeleteLotteryGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LotteryLookupServiceFaultFault">
        <soap:fault use="literal" name="LotteryLookupServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveLotteryGame">
      <soap:operation soapAction="http://tempuri.org/ILotteryLookupService/SaveLotteryGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LotteryLookupServiceFaultFault">
        <soap:fault use="literal" name="LotteryLookupServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LotteryLookupService">
    <wsdl:port name="BasicHttpBinding_ILotteryLookupService" binding="tns:BasicHttpBinding_ILotteryLookupService">
      <soap:address location="http://localhost:61094/LotteryLookupService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>