AstonTech.Lottery.Web/Service References/ServiceLotteryLookup/LotteryLookupService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61094/LotteryLookupService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AstonTech.Lottery.Services.DataContracts" />
  <xs:element name="GetLotteryGameCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotteryGameCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AstonTech.Lottery.Services.DataContracts" minOccurs="0" name="GetLotteryGameCollectionResult" nillable="true" type="q1:LotteryGameDTOCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotteryGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotteryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotteryGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AstonTech.Lottery.Services.DataContracts" minOccurs="0" name="GetLotteryGameResult" nillable="true" type="q2:LotteryGameDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLotteryGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotteryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLotteryGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLotteryGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AstonTech.Lottery.Services.DataContracts" minOccurs="0" name="gameToSave" nillable="true" type="q3:LotteryGameDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLotteryGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>